<div class="container text-center">
  <h3>
    Current Checkedout Items
  </h3>
</div>

<div class="container mt-5">
    <div class="card text-center" id="memberlist">
      <div class="card-header">
        <button class="btn btn-info add-checkout" (click)="newCheckout()">Checkout Item</button>
        <!-- <form class="form-inline my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        <input class="form-control search-box" placeholder="Search" #searchInput (keyup.enter)="searchCheckouts(searchInput.value)" (blur)="searchCheckouts(searchInput.value)">
      </div>
      <div class="card-body">
          <table class="table table-hover">
              <tr>
                <th style="width: 5%">#</th>
                <th style="width: 40%">Title</th>
                <th style="width: 20%">Card#</th>
                <th style="width: 20%">Checkout Date</th>
                <th style="width: 20%">Due Date</th>
                <th style="width: 10%">Status</th>
                <th style="width: 5%">Select</th>
              </tr>
              <tr *ngFor="let checkout of checkouts">
                <td>{{checkout.id}}</td>
                <td>{{checkout.title}}</td>
                <td>{{checkout.libraryCardId}}</td>
                <td>{{checkout.since | date: 'mediumDate'}}</td>
                <td>{{checkout.until | date: 'mediumDate'}}</td>
                <td>{{checkout.status}}</td>
                <td><a [routerLink]="['/checkouts/', checkout.id]"><span><i class="fa fa-check"></i></span></a></td>
              </tr>
            </table>
            <div *ngIf="checkouts?.length < 1">
            <hr>
            <p>No results found :(</p>
          </div>
      </div>
      <div class="card-footer text-muted">
        <div class="count"  style="float: left">
          <b>Count: {{count}}</b>
        </div>
        <div class="d-flex justify-content-center">
            <pagination [boundaryLinks]="true" 
                        [totalItems]="pagination.totalItems"
                        [itemsPerPage]="pagination.itemsPerPage"
                        [(ngModel)]="pagination.currentPage"
                        (pageChanged)="pageChanged($event)"
                      previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
          </pagination>
          </div>
      </div>
    </div>
    </div>