<div class="container mt-4">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{asset?.photoUrl || '../../../assets/book.jpg'}}"
          alt="{{asset.title}}">
        <div class="card-body">
          <h4 class="card-title">{{asset.title}}</h4>
          <div class="container asset-details">
            <div class="row" *ngIf="asset.assetType != 'Book'">
              <b>Director: </b>
              <p>{{asset.authorName}}</p>
            </div>
            <div class="row" *ngIf="asset.assetType === 'Book'">
              <b>Author: </b>
              <p>{{asset.authorName}}</p>
            </div>
            <div class="row">
              <b>Year:</b>
              <p>{{asset.year}}</p>
            </div>
            <div class="row">
              <b>Available copies:</b>
              <p>{{asset.copiesAvailable}}</p>
            </div>
            <div class="row">
              <b>Type:</b>
              <p>{{asset.assetType}}</p>
            </div>
            <div class="row">
              <b>ISBN:</b>
              <p>{{asset.isbn}}</p>
            </div>
            <div class="row">
              <b>Location:</b>
              <p>{{asset.deweyIndex}}</p>
            </div>
            <div class="row">
              <b>Status:</b>
              <p>{{asset.status}}</p>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="btn-group d-flex">
            <button (click)="editAssetModal(asset)" class="btn btn-info w-100">Edit {{asset.assetType}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="asset-tabset" #assetTabs>
          <tab heading="Description" class="nav-link">
            <div class="container mt-4">
              {{asset.description}}
            </div>
          </tab>
          <tab heading="Current Checkouts" class="nav-link">
            <div class="container mt-4">
                <app-asset-checkouts [asset]="asset"></app-asset-checkouts>
            </div>
          </tab>
          <tab heading="Current Reserves" class="nav-link">
            <div class="container mt-4">
              <p>Reserves Will go here</p>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>