.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25%;
}

.card-footer {
    padding: 10px 15px;
    background-color: #ffff;
    border-top: none;
}

.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs > li.open, .asset-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}

.asset-tabset > .nav-tabs > li.open > a, .asset-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}

.asset-tabset > .nav-tabs > li.open > a > i, .asset-tabset > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}

.asset-tabset > .nav-tabs > li.open .dropdown-menu, .asset-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

/* .asset-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #2c3e50;
  position: relative;
} */
.asset-tabset > .tabheading:hover {
  border-bottom: 4px solid #2c3e50;
  position: relative;
}

.asset-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}

.asset-tabset > .nav-tabs > li.active > a > i {
  color: #404040;
}

.asset-tabset > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}