.img-thumbnail {
  margin: 10px;
}

img {
  max-height: 250px;
  max-width: 230px;
  padding-bottom: 10;
}

.card-body {
  padding: 0 10%;
  padding-bottom: 10px;
}

.asset-details p {
  color: #0062cc;
  padding-left: 10px;
}

 .tab-panel.active{
  border: none;
  border-bottom:2px solid #0062cc;
}

.tab-panel {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
}

.asset-tabset  .nav-tabs  .tab-panel.active {
  border-bottom: 10px solid #E95420;
  position: relative;
}

.card-body span {
  font-size: 15px;
}

#fee {
  font-size: 20px;
  color: red;
}