<div class="modal-header">
  <h4 class="modal-title pull-left text-center">Add Item</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #authorForm="ngForm" class=" my-2 my-lg-0 ">
    <div class="form-group">
      <input class="form-control mr-sm-2" type="text" name="title" placeholder="Title" required
        [(ngModel)]="model.title">
    </div>
    <div class="form-group">
      <input placeholder="Search Author" name="firstName" autocomplete="off" [(ngModel)]="selectedValue"
        [typeahead]="authors" typeaheadOptionField="fullName" (typeaheadOnSelect)="onSelect($event)"
        class="form-control">
    </div>
    <div class="form-group">
      <input class="form-control mr-sm-2" type="text" name="year" placeholder="Year" required [(ngModel)]="model.year" >
    </div>
    <div class="form-group">
      <input class="form-control mr-sm-2" type="number" name="numberOfCopies" placeholder="Copies" required min="1"
        [(ngModel)]="model.numberOfCopies">
    </div>
    <div *ngIf="isUpdate()" class="form-group">
      <input class="form-control mr-sm-2" type="number" name="copiesAvailable" placeholder="Copies" required min="1"
        [(ngModel)]="model.copiesAvailable">
    </div>
    <div class="form-group">
      <textarea class="form-control mr-sm-2" type="text" name="description" placeholder="Description" required
        [(ngModel)]="model.description"></textarea>
    </div>

    <div class="form-group">
      <select name="category" class="custom-select form-control" required (ngModelChange)="onCategoryChange($event)"
        [(ngModel)]="selectedCategory">
        <option [ngValue]="undefined" selected disabled>--Select Category--</option>
        <option *ngFor="let category of categories" [ngValue]="category">
          {{category.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <select name="selectedAssetType" class="custom-select form-control" required
        (ngModelChange)="onItemChange($event)" [(ngModel)]="selectedAssetType">
        <option [ngValue]="undefined" selected disabled>--Select Type--</option>
        <option *ngFor="let assetType of assetTypes" [ngValue]="assetType">
          {{assetType.name}}
        </option>
      </select>
    </div>

    <div *ngIf="isBook()" class="form-group">
      <input class="form-control mr-sm-2" name="isbn" placeholder="ISBN" required [(ngModel)]="model.isbn">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button [disabled]="!authorForm.valid || (model.categoryId === 0 || model.assetTypeId === 0)"
    class="btn btn-success btn-sm" (click)="addAsset()" form="addForm">{{button}}</button>
</div>