<div class="section-container">
  <div class="row-fluid cards">
    <div class="card-deck">
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme bg-primary text-white">
          <h5>Daily Activity</h5>
        </div>
        <div class="card-body">
          <app-bar-chart *ngIf="monthlyActivityData" [barChartData]='monthlyActivityData' [barChartLabels]='monthlyActivityLabel'></app-bar-chart>
        </div>
      </div>
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme bg-primary text-white">
          <h5>Category Chart</h5>
        </div>
        <div class="card-body">
          <app-pie-chart *ngIf="categoryDistributionData" [pieChartData]='categoryDistributionData' [pieChartLabels]='categoryDistributionLabel'></app-pie-chart>
          <!-- <app-bar-chart *ngIf="monthlyActivityData" [barChartData]='monthlyActivityData' [barChartLabels]='monthlyActivityLabel'></app-bar-chart> -->
        </div>
      </div>
      <div class="card mb-3 shadow card-theme">
        <div class="card-header card-header-theme bg-primary text-white">
          <h5>Asset Type Distribution</h5>
        </div>
        <div class="card-body">
          <app-pie-chart *ngIf="assetTypeDistributionData" [pieChartData]='assetTypeDistributionData' [pieChartLabels]='assetTypeDistributionLabel'></app-pie-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid cards">
  <div class="card-deck mb-3">
    <div class="card card bg-secondary text-white text-center p-2 col-md-3 dash-box shadow">
      <div class="well">
        <h3><a><span><i class="fa fa-user"> </i></span><span> {{TotalMembers}}</span></a></h3>
        <h4>Total Members</h4>
      </div>
    </div>
    <div class="card card bg-light text-white text-center p-2 col-md-3 dash-box shadow">
      <div class="well">
        <h3><a><span><i class="fa fa-book"></i></span><span> {{TotalItems}}</span></a></h3>
        <h4>Total Items</h4>
      </div>
    </div>
    <div class="card card bg-info text-white text-center p-2 col-md-3 dash-box shadow">
      <div class="well">
        <h3><a><span><i class="fa fa-user-circle"></i></span><span> {{TotalAuthors}}</span></a></h3>
        <h4>Total Authors</h4>
      </div>
    </div>
    <div class="card card bg-success text-white text-center p-2 col-md-3 dash-box shadow">
      <div class="well">
        <h3><a><span><i class="fa fa-sign-out"></i></span><span> {{TotalCheckouts}}</span></a></h3>
        <h4>Total Checkouts</h4>
      </div>
    </div>
  </div>
  </div>

  <div class="row-fluid cards">
    <div class="card shadow card-theme card-bottom">
      <div class="card-header card-header theme  bg-primary text-white">
        <h5>Monthly Activity</h5>
      </div>
      <div class="card-body">
        <app-line-chart *ngIf="dailyActivityData" [lineChartData]='dailyActivityData' [lineChartLabels]='dailyActivityLabel'></app-line-chart>
      </div>
    </div>
  </div>
</div>