.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 40px;
    border: 2px solid white;
    display: inline;
    border-radius: 50%;
}

.navbar {
    max-height: 60px;
    box-shadow: 0 3px 6px rgb(85, 84, 84), 0 3px 6px rgb(85, 84, 84);
    
}

.test {
    justify-content: end;
}