<div class="modal-header">
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container mx-auto">
  <form #editForm="ngForm" id="editForm">
      <div *ngIf="!isUpdate()" class="form-group text-center">
          <label class="radio-inline">
            <input class="mr-3" type="radio" value="male" name="gender" required [(ngModel)]="model.gender">Male
          </label>
          <label class="radio-inline ml-3">
            <input class="mr-3" type="radio" value="female" name="gender" [(ngModel)]="model.gender">Female
          </label>
        </div>
      <div class="form-group">
          <label for="firstName" class="mr-4">First Name: </label>
        <input class="form-control mr-sm-2 col-md-6" type="text" name="firstName" required [(ngModel)]="model.firstName">
      </div>
      <div class="form-group">
          <label for="lastName" class="mr-4">Last Name: </label>
        <input class="form-control mr-sm-2 col-md-6" type="text" name="lastName" required [(ngModel)]="model.lastName">
      </div>
      <div class="form-group">
        <label for="email" class="mr-4">Email: </label>
        <input class="form-control mr-sm-2 col-md-6" type="email" name="email" required [(ngModel)]="model.email">
      </div>
      <div class="form-group">
        <label for="phoneNumber" class="mr-4">Phone Number: </label>
        <input class="form-control mr-sm-2 col-md-5" type="tel" name="phoneNumber" required [(ngModel)]="model.phoneNumber">
      </div>
      <div class="form-group">
        <label for="address" class="mr-3">Address:</label>
        <input class="form-control mr-sm-6 col-md-6" type="text" name="address" required [(ngModel)]="model.address">
      </div>
      <div class="form-group">
          <input placeholder="State" name="name" autocomplete="off" [(ngModel)]="state"
            [typeahead]="states" typeaheadOptionField="name" (typeaheadOnSelect)="onSelect($event)"
            class="form-control mr-sm-2 col-md-3">
        </div>
      <!-- <div class="form-group">
        <label for="state" class="mr-3">State: </label>
        <input class="form-control mr-sm-2 col-md-3" type="text" name="state" required [(ngModel)]="model.state">
      </div> -->
      <div class="form-group">
        <label for="city" class="mr-5">City: </label>
        <input class="form-control mr-sm-2 col-md-3" type="text" name="city" required [(ngModel)]="model.city">
      </div>
      <div class="form-group">
        <label for="zipcode" class="mr-2">Zip Code: </label>
        <input class="form-control mr-sm-2 col-md-2" type="text" name="zipcode" required [(ngModel)]="model.zipcode">
      </div>
  </form>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="button" [disabled]="!editForm.valid"
  class="btn btn-success" (click)="outputMember()" form="editForm">{{button}}</button>
</div>