<div class="container mt-5">
  <div class="card text-center" id="memberlist">
    <div class="card-header">
      <button class="btn btn-info addmember">Add New</button>
      <input class="form-control search-box" placeholder="Search" #searchInput
        (keyup.enter)="searchMembers(searchInput.value)" (blur)="searchMembers(searchInput.value)">
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <th style="width: 5%">Card#</th>
          <th style="width: 20%">First Name</th>
          <th style="width: 20%">Last Name</th>
          <th style="width: 20%">Email</th>
          <th style="width: 5%">Select</th>
          <th style="width: 5%">Edit</th>
          <th style="width: 5%">Delete</th>
        </tr>
        <tr *ngFor="let member of members">
          <td>{{member.libraryCardNumber}}</td>
          <td>{{member.firstName}}</td>
          <td>{{member.lastName}}</td>
          <td>{{member.email}}</td>
          <td><a [routerLink]="['/members/', member.id]"><span><i class="fa fa-check"></i></span></a></td>
          <td><a (click)="getMember(member.id)"><span><i class="fa fa-edit"></i></span></a></td>
          <td><a (click)="deleteMember(member.id)"><span><i class="fa fa-trash"></i></span></a></td>
        </tr>
      </table>
      <div *ngIf="members?.length < 1">
        <hr>
        <p>No results found :(</p>
      </div>
    </div>
    <div class="card-footer text-muted">
      <div class="count" style="float: left">
        <b>Count: {{count}}</b>
      </div>
    </div>
  </div>
</div>