<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{asset.photoUrl || '../../../assets/user.png'}}" alt="{{asset.title}}">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-info" 
          [routerLink]="[ asset.id]" ><i class="fa fa-info-circle"></i></button> </li>
      <li class="list-inline-item"><button class="btn btn-success" >
          <i [routerLink]="[ asset.id]"  class="fa fa-address-card "></i></button> </li>
      <li class="list-inline-item"><button class="btn btn-info" 
        [routerLink]="[asset.id]" [queryParams]="{tab: 3}" ><i class="fa fa-cart-arrow-down"></i></button> </li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-user"></i>
      {{asset.title}}, {{asset.author}}
    </h6>
    <p class="card-text text-muted text-center">{{asset.status}}</p>
  </div>
</div>