<div class="container mt-5 col-md-6">
  <div class="card text-center" id="author-list">
    <div class="card-header">
      <button class="btn btn-info addNew" (click)="addAuthorModal()">Add New</button>
      <input class="form-control search-box" placeholder="Search" #searchInput
        (keyup.enter)="searchAuthors(searchInput.value)" (blur)="searchAuthors(searchInput.value)">
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <th style="width: 20%">First Name</th>
          <th style="width: 20%">Last Name</th>
          <th style="width: 5%">Select</th>
        </tr>
        <tr *ngFor="let author of authors">
          <td>{{author?.firstName}}</td>
          <td>{{author?.lastName}}</td>
          <td><a [routerLink]="['/authors/', author.id]"><span><i class="fa fa-check"></i></span></a></td>
        </tr>
      </table>
      <div *ngIf="authors?.length < 1">
        <hr>
        <p>No results found :(</p>
      </div>
    </div>
    <div class="card-footer text-muted">
      <div class="count" style="float: left">
        <b>Count: {{count}}</b>
      </div>
      <div class="d-flex justify-content-center">
          <pagination [boundaryLinks]="true" 
                      [totalItems]="pagination.totalItems"
                      [itemsPerPage]="pagination.itemsPerPage"
                      [(ngModel)]="pagination.currentPage"
                      (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
        <div class="form-group ">
          <select class="form-control ml-1 perPage" id="itemsPerPage"
            [(ngModel)]="selectedItemPerPage" name="itemsPerPage" (ngModelChange)="onPageSizeChange($event)">
            <option *ngFor="let item of itemsPerPage" [value]="item.value">
              {{item.display}}
            </option>
          </select>
        </div>
        </div>
    </div>
  </div>
</div>