<a href="#" class="btn-close ">&times;</a>
<div id="sidebar">
  <ul class="nav nav-pills flex-column" id="sidenav">
    <li><a href=""><span><i class="fa fa-bar-chart"></i></span><span> Dashboard</span></a></li>
    <li [routerLink]="['/members']"><a ><span><i class="fa fa-users"></i></span> <span> Members</span></a></li>
    <li [routerLink]="['/catalog']"><a><span><i class="fa fa-book"></i></span><span> Items</span></a></li>
    <li [routerLink]="['/checkouts']"><a><span><i class="fa fa-folder-open"></i></span><span> Checkouts</span></a></li>
    <li [routerLink]="['/catalog']"><a><span><i class="fa fa-folder"></i></span> <span> Reserves</span></a></li>
    <li [routerLink]="['/catalog']"><a><span><i class="fa fa-user"></i></span> <span> Admin</span></a></li>
  </ul>
</div>