<!-- <a href="#" class="btn-close ">&times;</a>
<div class="list-group" id="sidenavlinks">
  <a href="#" class="list-group-item"><i class="fa fa-cog"></i> Dashboard</a>
  <a href="#" class="list-group-item"><i class="fa fa-users"></i> Members</a>
  <a href="#" class="list-group-item"><i class="fa fa-book"></i> Items</a>
  <a href="#" class="list-group-item"><i class="fa fa-folder-open"></i> Checkouts</a>
  <a href="#" class="list-group-item"><i class="fa fa-folder"></i> Reserves</a>
</div> -->

<a href="#" class="btn-close ">&times;</a>
<div id="sidebar">
  <ul class="nav nav-pills flex-column" id="sidenav">
    <li><a href=""><span><i class="fa fa-bar-chart"></i></span><span> Dashboard</span></a></li>
    <li><a href=""><span><i class="fa fa-users"></i></span> <span> Members</span></a></li>
    <li><a href=""><span><i class="fa fa-book"></i></span><span> Items</span></a></li>
    <li><a href=""><span><i class="fa fa-folder-open"></i></span><span> Checkouts</span></a></li>
    <li><a href=""><span><i class="fa fa-folder"></i></span> <span> Reserves</span></a></li>
    <li><a href=""><span><i class="fa fa-user"></i></span> <span> Admin</span></a></li>
  </ul>
</div>