<div class="container mt-5">
  <div class="card text-center">
    <div class="card-header">
      <button class="btn btn-info addasset" (click)="addAssetModal()">Add New</button>
      <input class="form-control search-box" placeholder="Search" #searchInput
        (keyup.enter)="searchAssets(searchInput.value)" (blur)="searchAssets(searchInput.value)">
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <th style="width: 30%">Title</th>
          <th style="width: 20%">Author</th>
          <th style="width: 5%">Year</th>
          <th style="width: 5%">Type</th>
          <th style="width: 5%">Select</th>
          <th style="width: 5%">Edit</th>
          <th style="width: 5%">Delete</th>
        </tr>
        <tr *ngFor="let asset of assets">
          <td>{{asset.title}}</td>
          <td>{{asset.authorName}}</td>
          <td>{{asset.year}}</td>
          <td>{{asset.assetType}}</td>
          <td><a [routerLink]="['/catalog/', asset.id]"><span><i class="fa fa-check"></i></span></a></td>
          <td><a (click)="getAsset(asset.id)"><span><i class="fa fa-edit"></i></span></a></td>
          <td><a (click)="deleteAsset(asset.id)"><span><i class="fa fa-trash"></i></span></a></td>
        </tr>
      </table>
      <div *ngIf="assets?.length < 1">
        <hr>
        <p>No results found :(</p>
      </div>
    </div>
    <div class="card-footer text-muted">
      <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
          [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
        <div class="form-group ">
          <select class="form-control ml-1 perPage" id="itemsPerPage"
            [(ngModel)]="selectedItemPerPage" name="itemsPerPage" (ngModelChange)="onPageSizeChange($event)">
            <option *ngFor="let item of itemsPerPage" [value]="item.value">
              {{item.display}}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>