.fa-trash {
  color: red;
  font-size: 20px;
}

.fa-edit {
  font-size: 20px;
  color: #3498db;
}

.fa-trash {
  font-size: 20px;
}

.search-box {
  float: right;
  width: 20%;
}

.addasset {
  float: left;
}

.fa-trash:hover {
  cursor: pointer;
}

.fa-edit:hover {
  cursor: pointer;
}

.fa-check {
  font-size: 20px;
}