<form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-signin mt-5" (ngSubmit)="sendResetLink()">
  <h1 class="text-center h3 mb-3 font-weight-normal">Please Enter your Email Address</h1>
  <input class="form-control mr-sm-2" type="email" name="email" 
            placeholder="Email address" required [(ngModel)]="model.email">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
  <p class="text-center" ><a [routerLink]="['/login']">Sign In</a> </p>
  <p class="text-center mt-3 mb-3 text-muted">© 2017-2018</p>
</form>