.card-header {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.search-btn {
  float: right;
}

label {
  /* float: left; */
  font-size: 17px;
  font-weight: bold;
}

.advanced-toggle {
  float: left;
}