  <div class="container mt-4">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top img-thumbnail" src="{{member?.photoUrl || '../../../assets/user.png'}}" alt="{{member.lastName}}, {{member.firstName}}">
            <div class="card-body">
                <h4 class="card-title">{{member.lastName}}, {{member.firstName}}</h4>
                <div class="container member-details">
                    <div class="row">
                          <b>Email: </b>
                          <p>{{member.email}}</p>
                    </div>
                    <div class="row">
                          <b>Gender: </b>
                          <p>{{member.gender}}</p>
                    </div>
                    <div class="row">
                          <b>Age: </b>
                          <p>{{member.age}}</p>
                    </div>
                    <div class="row">
                          <b>Member Since: </b>
                          <p>{{member.created | date: 'mediumDate'}}</p>
                    </div>
                    <div class="row">
                          <b>Address: </b>
                          <p>{{member.address}}</p>
                    </div>
                    <div class="row">
                          <b>City: </b>
                          <p>{{member.city}}</p>
                    </div>
                    <div class="row">
                          <b>State: </b>
                          <p>{{member.state}}</p>
                    </div>
                    <div class="row">
                          <b>Zip Code: </b>
                          <p>{{member.zipcode}}</p>
                    </div>
                    <div class="row">
                          <b>Card Number: </b>
                          <p>{{member.libraryCardNumber}}</p>
                    </div>
                    <div class="row" *ngIf="hasFees()">
                          <b>Amount Owed: </b>
                          <span class="badge badge-danger">${{member.fees}}</span>
                    </div>
                </div>
            </div>
            <div class="card-footer" >
              <div class="btn-group d-flex" *ngIf="!hasFees()">
                <button class="btn btn-primary w-100">Reserve</button>
                <button class="btn btn-success w-100">New Checkout</button>
              </div>
              <div class="btn-group d-flex" *ngIf="hasFees()">
                <button class="btn btn-info w-100">Pay Fees</button>
              </div>
          </div>
        </div>
        </div>
        <div class="col-sm-8">
          <div class="tab-panel">
            <tabset class="asset-tabset" #assetTabs>
              <tab heading="Current Checkouts" class="nav-link">
                <div class="container mt-4">
                  <app-member-checkouts [member]="member"></app-member-checkouts>
                </div>
              </tab>
              <tab heading="Reserved Items" class="nav-link">
                <div class="container mt-4"> 
                  <p>Member Reserved Items Will go here</p>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
    
  
  
