<div class="mt-4 col-4 offset-2">
  <div class="card">
    <div class="card-header">Please Enter your Email Address</div>
    <div class="card-body">
      <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
        <div class="form-group row">
          <label for="password" class="col-sm-6 col-form-label">Password: </label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password" required
              [(ngModel)]="form.password">
          </div>
        </div>
        <div class="form-group row">
          <label for="confirmPassword" class="col-sm-6 col-form-label">Confirm Password: </label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
              name="confirmPassword" required [(ngModel)]="form.confirmPassword">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button [disabled]="!resetPasswordForm.valid" type="submit" class="btn btn-success">Reset Password</button>
            <!-- <button type="submit" class="btn btn-primary">Login</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>